@import "normalize";
@import "bootstrap";
@import "font-awesome/scss/font-awesome";
@import "header";
@import "footer";
@import "main";

//= require casper
//= require _syntax

pre.highlight {
  word-wrap: normal;
  code {
    white-space: pre;
  }
}
