header.navbar {
  text-shadow: 0 -1px 0 rgba(0,0,0,.15);
  background-color: #3d4651;
  min-height: 50px;
  border: none;
  box-shadow: 0 1px 0 rgba(255,255,255,.1);
  color: #fff;

  .jc {
    top: -2px;
    position: relative;
    padding-left: 5px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 1;
  }

  nav {
    padding: 10px 0px;

    a {
      color: #fff;

      &:hover {
        color: #f1654c;
        text-shadow: none;
      }
    }

    ul {
      font-family: 'lft-etica', sans-serif;
      padding-top: 5px;

      li {
        float: left;
        margin: 0 10px;
      }
    }
  }
}
