<header class="navbar navbar-fixed-top">
  <div class="container">
    <nav role="navigation">

      <% link_to '/', :class => 'home' do  %>
        <i class="fa fa-2x fa-code logo"></i>
        <span class='jc'>JOEY CODY</span>
      <% end %>

      <ul class="navbar-right">
        <li><%= link_to 'contact.', '/contact' %></li>
      </ul>

    </nav>
  </div>
</header>
