<div class="intro">
  <div class="container contact">
    <h2>We should totally talk.</h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4" style="padding-top:100px;">
      <dl>
        <dt>GitHub</dt>
        <dd><%= link_to "jcody", 'https://github.com/jcody' %></dd>

        <dt>LinkedIn</dt>
        <dd><%= link_to "Joey Cody", 'https://www.linkedin.com/in/joeycody' %></dd>

        <dt>Twitter</dt>
        <dd><%= link_to "@joeycdy", 'https://twitter.com/joeycdy' %></dd>

        <dt>Email</dt>
        <dd><%= mail_to 'joeydcody@gmail.com', "joeydcody@gmail.com" %></dd>
      </dl>
    </div>
  </div>
</div>
